<% layout('layouts/boilerplate')%>

<div class="container-md mx-auto mb-5" style="max-width: 600px">
  <h1 class="text-center">Edit campground</h1>
  <form
    action="/campgrounds/<%=campground._id%>?_method=PUT"
    method="POST"
    novalidate
    class="validated-form"
    enctype="multipart/form-data"
  >
    <div class="d-flex flex-column gap-3 container-fluid">
      <div>
        <label class="form-label" for="title">Title:</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          placeholder="Enter campground name"
          value="<%= campground.title %>"
          required
        />
      </div>

      <div>
        <label class="form-label" for="location">Location:</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          placeholder="Enter campground location"
          value="<%= campground.location %>"
          required
        />
      </div>
      <div>
        <label class="form-label" for="image">Image URL:</label>
        <input
          class="form-control"
          type="file"
          id="image"
          name="image"
          placeholder="http://..."
          value="<%= campground.image %>"
          multiple
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="mb-3 d-flex">
          <% campground.images.forEach(function(image, i) { %>
          <div>
            <img src="<%=image.thumbnail %>" class="img-thumbnail" alt="" />
            <div class="form-check-inline d-flex text-danger">
              <input
                type="checkbox"
                id="image-<%=i%>"
                name="deleteImages[]"
                value="<%=image.filename%>"
              />

              <label for="image-<%=i%>">x</label>
            </div>
          </div>
          <% })%>
        </div>
      </div>
      <div>
        <label class="form-label" for="price">Price:</label>
        <div class="input-group">
          <span class="input-group-text" id="price">$</span>
          <input
            aria-label="Price"
            aria-describedby="price"
            class="form-control"
            type="number"
            id="price"
            name="campground[price]"
            placeholder="0.00"
            value="<%= campground.price %>"
            min="0"
            required
          />
        </div>
      </div>
      <div>
        <label class="form-label" for="description">Description:</label>
        <textarea
          class="form-control"
          id="description"
          name="campground[description]"
          placeholder="Enter campground description"
          required
        >
<%=campground.description %></textarea
        >
      </div>
      <div>
        <button class="btn btn-success" type="submit">Update campground</button>
      </div>
      <a href="/campgrounds/<%= campground._id %>">Go back</a>
    </div>
  </form>
</div>
